#nav {
	list-style:none; padding:0px;
	background:#202020; color:#E5E5E5;
	height:50px; width:2130px;
	font-family:Î¢ÈíÑÅºÚ;
}
#nav li {
	float:left; width:105px; 
	line-height:50px;
	text-align:center;
}

.li_mu:hover{
	background:blue; color:yellow;
	cursor:pointer; font-size:17px;
}

#nav #user{
	width:600px; float:right;
	background:#202020;
	text-align:right;
	padding-right:15px;
}
#user:hover{ background:#202020; }
