#left{ 
	width:180px;
	list-style:none; 
	padding:0px; margin:0px;	
}
#left li{
	padding:0px; font-family:Î¢ÈíÑÅºÚ;
	background:url('../images/bar_back.jpg');
	border-bottom:1px solid #44B4EB;
}

#left .item ul {
	list-style:none; padding:0px; margin:0px; 
	width:180px; cursor:pointer;
	background:#E3E3E3;	
}

#left .item ul li{
	height:28px; line-height:28px;
	text-indent:0.5em; background:#E3E3E3;
	border-bottom:1px solid #FFF;
	font-family:Î¢ÈíÑÅºÚ;
}
#left .item ul li:hover{
	background:#D2D2D2;
}

.on{ background:url('../images/bar_back2.jpg'); }
.li_on{ background:#A2A2A2; }

.title{
	width:180px; height:35px;
	color:white;
	line-height:35px; text-indent:0.5em;
}
.title:hover{
	cursor:pointer;
}
